/* Body */
body {
  color: #ffffff;
  background-color: hsl(210, 4%, 22%);
  display: block;
}

/* Header and nav links */
header {
  margin: 2.5em 3em 0em;
  color: rgb(221, 219, 218);
  text-align: center;
}
#main_title {
  margin: 0em 0.2em 0.4em 0.2em;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1.75px 1.75px black;
}
nav.menu {
  margin: 0.5em;
}
.menu a:link,
a:visited {
  color: rgba(172, 171, 171, 0.9);
  text-decoration: none;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-size: 18px;
}
.menu a:hover {
  color: gray;
}
.music_player {
  margin: 1em 0;
  opacity: 0.8;
}

hr {
  margin: 1em auto;
  max-width: 900px;
}

/* Main content. */
main {
  margin: 1em auto;
  max-width: 800px;
  line-height: 1.6em;
  font-size: 16px;
}
section {
  margin: 1em 0em;
}
section > h2 {
  font-size: 1.5em;
  font-weight: 300;
  font-weight: bold;
  text-shadow: 1.75px 1.75px black;
}
/* General sibling combinator on paragraphs. */
h2 ~ p,
h3 ~ p {
  padding-left: 0.5em;
  background-color: hsla(0, 0%, 33%, 0.45);
}
img[src="img/me.jpg"] {
  margin: 1em 0em;
}
/* Indenting lists */
ol,
ul {
  padding-left: 40px;
}
/* Descendant Combinator on list items. */
ol li {
  margin: 0.5em 0em;
}
/* Using adjacent sibling selector. */
hr + video {
  border-radius: 16px;
}
